/* Scroll bar */

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0px rgb(0, 0, 0);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 9px;
}

/* --------------------------------- */
.a1 {
	text-decoration: none;
	color: #9ca2e9;
}

.a1:hover {
	color: turquoise;
	transition: 0.3s;
}

.a2 {
	text-decoration: none;
	color: turquoise;
}

.a2:hover {
	color: #9ca2e9;
	transition: 0.3s;
}

h2 {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	/* margin-left: 500px;
	margin-right: 500px; */
	margin-left: 40vw;
	margin-right: 40vw;
	padding-bottom: 15px;

	border-bottom: 5px solid rgb(237, 247, 247);
}
.first-letter {
	font-size: 40px;
	text-decoration: none;
}

section {
	padding: 80px 0 50px 0;
}

.my-title {
	font-size: 47px;
	margin-top: 50px;
}

.hero-paragraph {
	font-size: 19px;
}

.button {
	border-radius: 90px;
}

.button:hover {
	opacity: 0.8;
}

.about-para {
	text-align: center;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.849);
	margin-left: 5vw;
	margin-right: 5vw;
}

.about-div {
	margin-top: 60px;
}

.About-section {
	padding-bottom: 0px;
}

/* Auxilium */
.Auxilium {
	padding-top: 0px;
}

.system {
	padding-top: 50px;
	padding-left: 40px;
	width: 640px;
	height: 480px;
}

/* Footer */
footer {
	display: none;
}
